* {
    margin: 0;
    padding: 0;
}

:root {
 --main-color: #1a237e;
 --second-color: #01579b;
 --line-color: #534bae;
 --text-color:#ffffff;
 --text-color2: #000;
}

body {
    color: var(--text-color);
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section {
    background-color: var(--main-color);
    border: 1px solid;
    border-color: var(--line-color);
}

.contiene {
    background-color: #ffffff;
}

.proy {
    margin-left: 50px;
    width: 20%;
    height: 20%;
    border: 3px solid;
    border-color: var(--line-color);
    margin-top: 30px;
    margin-bottom: 0;
    outline: #000 solid 3px;
}

.proy:hover {
    -webkit-transform:scale(1.4);transform:scale(1.4);
}

.tith2 {
    background-color: var(--main-color);
    border: 1px solid;
    border-color: var(--line-color);
}

#nombre {
    background-color: var(--main-color);
    border: 1px solid;
    border-color: var(--line-color);
    opacity: .5;
    z-index: 5;
}

#fotoPerfil {
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-color: #534bae;
    border-radius: 100%;
    float: left;
    z-index: 100;
}

.paraf {
    padding-left: 20%;
    border: 1px solid;
    border-color: var(--line-color);
    color: var(--text-color2);
    }

#foot {
    background-color: var(--main-color);
    box-shadow: 0px 1px 20px 1px var(--line-color);
    align-content: space-around;
}

footer a {
    color: var(--text-color)
}

.icon2 {
    width: 100px;
    height: 100px;
    padding: 30px;
}

.icon2:hover {
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.icon {
    width: 30px;
    height: 30px;
}

.icon:hover {
    width: 30px;
    height: 30px;
    -webkit-transform:scale(1.3);transform:scale(1.3);
}